.testd{
    position: relative;
    direction: rtl;
}

.dropdown-test-d{
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    min-height: 120px;
    min-width: 240px;
}

@media(max-width:460px){
    .dropdown-test-d{
        position: relative;
        background-color: rgba(0,0,0,0.1);
        height: auto;
        width: auto; 
        min-height: auto;
        min-width: auto;         
    }
}

.testd:hover > .dropdown-test-d{
    display: block;
}

.dropdown-test-d:hover{
    display: block;
}