@font-face{
    font-family: B-yekan;
    src : url(font-yekan/Yekan.woff);
}

h1,h2,h3,div,h4,h5,h6,p,strong,b{
    font-family: B-yekan !important;
}
.testd{
    position: relative;
    direction: rtl;
}

.dropdown-test-d{
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    min-height: 120px;
    min-width: 240px;
    background-clip: content-box;
    list-style: none;
}
.dropdown-test-d li{
    border-bottom: solid 1px;
}

@media(max-width:460px){
    .dropdown-test-d{
        position: relative;
        background-color: rgba(0,0,0,0.1);
        height: auto;
        width: auto; 
        min-height: auto;
        min-width: auto;         
    }
}

.testd:hover > .dropdown-test-d{
    display: block;
}

.dropdown-test-d:hover{
    display: block;
}


.h3{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    margin-top: 0px;
    padding-top: 10px;
    color: white;
    letter-spacing: 1px;
    line-height: 39px;
    padding-right: 10px;
}
.p{
    text-align: center;
    font-size: x-large;
    background-color: #2C2C2C;
    margin-right: -10px;
    margin-top: -10px;
}
.bo{
    bottom: -10px;
    position: absolute;
    background-color: #2C2C2C;
    right: 0;
    left: 0;
    padding-right: 5px;
}

.btn-warning{
    background-color: #166056 !important;
    border-color: #166056 !important;
}

.list-show{
    max-height: 400px;
}

.list-show .list li{
    color: aliceblue;
    display: inline-block;
    position: relative;
    width: 25%;
    text-decoration: none;
    list-style: none;
    line-height: 35px;
}

@media(max-width:442px){
    .list-show .list li{
        width: 100%;
    }
}

@media(max-width:700px){
    .list-show .list li{
        width: 49%;
    }
}
.list-show .list li a{
    color: aliceblue;
    text-decoration: blink;
}

.list-show .list li a:hover{
    border-bottom: dotted #166056;
    border-width: 3px;
}

.mbr-gallery-row-special{
    margin-bottom: -30px;
}
.ui-datascroller-content{
    background-color : #EFEFEF !important;
}
.head-seo{
    color: #30714D;

    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    background-color: #fafafa;
    border: solid 1px;
    border-bottom: solid 2px;
    border-top: solid 2px;
}

.one{
    border-color: #cccccc ;
}

.tow{
    border-color: #cccccc;
}

.three{
    border-color: #cccccc;
}

.four{
    border-color: #cccccc;
}

.mbr-plan__box .mbr-plan__details ul li:nth-child(even) {
    background-color: #fafafa;
}
.mbr-plan__box .mbr-plan__details ul li{
    direction: rtl;
}

.ContentLink{
    font-size: 10px;
}

.headcontent .head-befor{
    border: solid 3px #166056;
    width: 13%;
    display: inline-block;
    margin-top: 16px;
    margin-left: -120px;
    transform: skewX(-28deg);
}
.headcontent .head-after{
    border: solid 3px #166056;
    width: 13%;
    display: inline-block;
    position: absolute;
    margin-top: 16px;
    transform: skewX(-28deg);
    margin-left: 20px;
}

.content .mbr-buttons__btn {
 position: absolute;
 bottom: -120px;   
}

@media(max-width:768px){
   .content .mbr-buttons__btn {
        position: relative;
        bottom: 0px;
    }
}

.nav-tabs {
    border-bottom: 0px !important;
}

.nav-tabs li{
    float: right !important;
}